global:
  scrape_interval: 15s

scrape_configs:
   - job_name: delivery-service
     scrape_interval: 15s
     scrape_timeout: 10s
     metrics_path: /metrics
     static_configs:
      - targets:
          - 'delivery-service:3000'
